.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1280px;
    height: 900px;
    margin-top: 80px;
}

.infoBox {
    grid-column: 2;
}

.input {
    margin-bottom: 24px;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.invisible {
    display: none;
}