.position {
    margin: auto;
    text-align: center;
}

.image {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 480px;
    height: 240px;
}

.header {
    text-align: left;
}

.label {
    margin-bottom: 32px;
}

.containerInfo {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
}

.detailsBlock {
    display: flex;
    flex-direction: column;
}